%table#templates.admin
  %thead
    %tr.header
      %th handle
      %th actions
  %tbody
    - @template_objs.each do |template_obj|
      %tr.body
        %td
          = link_to(template_obj.handle, admin_template_path(template_obj), { :target => '_blank' }) 
        %td.actions 
          = link_to 'edit', edit_admin_template_path(template_obj)
          = link_to 'delete', admin_template_path(template_obj), :confirm => 'Are you sure?', :method => :delete
