body
  :margin 1em
  :background-color #fff
  :color #000

a
  :text-decoration none
  :font-weight bold
  
#pages
  :margin-left 20%
  :width 60%
  :border-collapse true
  
  tr.header
    :background-color #ccf
    
    th
      :padding 5px
      :border none
      :font-weight bold
      :font-size larger
      :border-bottom 1px solid black

  tr.body
  
    td
      :padding 5px

    td.actions
      :text-align center
